# Compiler files
cache/

# Ignore all Foundry outputs except selected ABIs and bindings
out/*
!out/bindings/
!out/bindings/**
!out/PaymentEscrow.sol/
!out/PaymentEscrow.sol/**
!out/OnRampEscrow.sol/
!out/OnRampEscrow.sol/**
!out/LPRegistry.sol/
!out/LPRegistry.sol/**
!out/RateOracle.sol/
!out/RateOracle.sol/**
!out/Relayer.sol/
!out/Relayer.sol/**
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Project tracking files
demo.md
progress.md
